# Prepare the Flags Dataset for Power BI

In [54]:
import pandas as pd
import numpy as np

In [88]:
flags = pd.read_csv('./flag.csv')
print('Shape of the flags dataset: ', flags.shape)
print('The column names are: ', flags.columns)
flags.head()

Shape of the flags dataset:  (194, 30)
The column names are:  Index(['name', 'landmass', 'zone', 'area', 'population', 'language',
       'religion', 'bars', 'stripes', 'colours', 'red', 'green', 'blue',
       'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses',
       'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon',
       'animate', 'text', 'topleft', 'botright'],
      dtype='object')

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [89]:
landmass = {1: 'N.America', 2: 'S.America', 3: 'Europe', 4: 'Africa', 5: 'Asia', 6: 'Oceania'}
zone = {1: 'NE', 2: 'SE', 3: 'SW', 4: 'NW'}
language = {1: 'English', 2: 'Spanish', 3: 'French', 4: 'German', 5: 'Slavic', 6: 'Other Indo-European', 7: 'Chinese', 8: 'Arabic', 9: 'Japanese/Turkish/Finnish/Magyar', 10: 'Others'}
religion = {0: 'Catholic', 1: 'Other Christian', 2: 'Muslim', 3: 'Buddhist', 4: 'Hindu', 5: 'Ethnic', 6: 'Marxist', 7: 'Others'}
flags = flags.replace({'landmass': landmass, 'zone': zone, 'language': language, 'religion': religion})
flags = flags.rename(columns = {'colours': 'number of colors'})
flags.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,number of colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,Asia,NE,648,16,Others,Muslim,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,Europe,NE,29,3,Other Indo-European,Marxist,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,Africa,NE,2388,20,Arabic,Muslim,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,Oceania,SW,0,0,English,Other Christian,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,Europe,NE,0,0,Other Indo-European,Catholic,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

### Split out data between country information and flag details

In [90]:
countryInfo = flags[['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion']]

flagColors = flags[['name', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange']].melt('name')
flagColors = flagColors[['name', 'variable']][flagColors['value'] == 1].rename(columns = {'variable': 'details'})
flagColors['variable'] = 'color'
flagDetails = flags[['name', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon',
       'animate', 'text']].melt('name')
flagDetails = flagDetails[['name', 'variable']][flagDetails['value'] == 1].rename(columns = {'variable': 'details'})
flagDetails['variable'] = 'details'
flagOther = flags[['name', 'bars', 'stripes', 'number of colors', 'mainhue', 'topleft', 'botright']].melt('name').rename(columns = {'value': 'details'})
flagInfo = pd.concat([flagDetails, flagColors, flagOther])

In [91]:
countryInfo.to_csv('./countryInfo.csv', index=False)
flagInfo.to_csv('./flagInfo.csv', index=False)